<div class="box_contato">
	<div id="login_interno">
		
			<h2 class="titulo_contato">Fale conosco </h2>
			<font color="#ef7d00" style="float:left;margin-left: 50px;margin-bottom: 40px;font-size:23px;">[email]</font>
			<!--[contatos]-->

			<form name="formulario_galeria" id="formulario_galeria" action="[action]" method="post">
				<strong>Nome:</strong>
				<input type="text" name="nome" value="" style='width: 100%;'>


				<strong>E-mail:</strong>
				<input type="text" name="email" value="" style='width: 100%;'>

				<div class="cidade">
					<strong>Cidade:</strong>
					<input type="text" name="cidade" value="" style='width: 240px;'>
				</div>


				<div class="estado">
					<strong>Estado:</strong>
					<input type="text" name="estado" value="" style='width: 140px;'>
				</div>

				<strong>Deixe seu coment&aacute;rio: </strong>
				<textarea style="width: 100%; height: 130px;" name="comentario"></textarea>

				[msg]
				<input type="submit" name="enviar" value="" class="enviar">
			</form>
	</div>
</div>