<div id="pagina_conteudo_esquerdo">

	<img src="[imagem_url]" alt="" />
</div>

<div id="pagina_conteudo_direito">
	
	<div id="pagina_conteudo_direito_interno">
	<h2>[produto_titulo]</h2>
	[produto_corpo]
	
	[conteudo_blog]	

	<iframe src="https://www.facebook.com/plugins/like.php?href=[url_materia]"
        scrolling="no" frameborder="0"
        style="border:none; width:550px"></iframe>
	
	<!--
	<div class="fb-comments" data-href="[url_materia]" data-num-posts="2" data-width="230" ></div>

		<div><a href="http://pinterest.com/pin/create/button/?url=[url_materia]&media=[imagem_url]" class="pin-it-button" count-layout="horizontal" target="_blank"><img border="1" src="//assets.pinterest.com/images/PinExt.png" title="Pin It" width="41" height="22"/></a></div>
	-->
	</div>
</div>